$body-background: $white;
$base-text-color: $glacier;
$base-dark-color: $night;

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: $base-text-color;
  box-sizing: border-box;
  background: $body-background;
}

a {
  text-decoration: none;
  color: $base-text-color;

  &:hover {
    color: $base-dark-color;
  }
}

p {
  color: $base-dark-color;
  font-weight: 300;
}

.container {
  width: 90%;
  max-width: 900px;
  display: block;
  margin: 0 auto;
}

main {
  padding: 5em 0 5em 0;
  min-height: 100vh;
}

input, textarea {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 2em;
  width: 500px;
  max-width: 90%;
  padding: .7em;
  border-radius: 2px;
  font-size: .875em;
  border: 1px solid $warm-gray;
}

.base {
  &-subtitle {
    font-size: 1.75em;
    color: $base-text-color;
    font-family: 'Oxygen', sans-serif;
  }

  &-required {
    color: $glacier;
  }
}

