.nav {
  width: 100%;
  overflow: auto;
  border-bottom: 1px dotted $base-text-color;

  &-title {
    float: left;
    a {
      color: $base-text-color;
      &:hover {
        color: $base-dark-color;
      }
    }
  }


  &-main {
    list-style-type: none;
    float: right;
    padding: 0;

  }

  &-button {
    background: $green;
    color: $white;
    padding: 5px 10px;
    border-radius: 2px;
  }
}

nav li {
  color: $night;
  text-transform: capitalize;
  display: inline-block;
  padding: 0 .5em 0 .5em;
  box-sizing: border-box;
  margin: .4em .5em 0 .5em;
  font-size: 0.875em;
  a {
    color: $ice;
    &:hover {
      color: $base-dark-color;
    }
  }
}
