.nav {
  width: 100%;
  overflow: auto;

  &-title {
    float: left;
    a {
      color: $white;
    }
  }

  &-main {
    list-style-type: none;
    float: right;
    padding: 0;

    li {
      color: $glacier;
      display: inline-block;
      padding: 0 .5em 0 .5em;
      box-sizing: border-box;
      margin: .4em .5em 0 .5em;

      a {
        color: $ice;
        font-weight: bold;
      }
    }
  }
}
