.project {
  &-item {
    text-align: left;
    padding: 2em 0;
    border-bottom: 1px dotted $night;
    p {
      width: 80%;
      max-width: 400px;
      font-weight: 300;
      color: $base-dark-color;
    }
  }

  &-title {
    font-family: 'Oxygen', sans-serif;
    a {
      color: $base-text-color;

      &:hover {
        color: $warm-gray;
      }
    }
  }

  &-arrow {
    font-size: 0.65em;
  }

  &-form {
    &--INPUTS {
      text-align: left;
      padding: 2em 0;
      display: block;
      max-width: 500px;
    }
  }

  &-label {
    text-align: left;
    color: $base-dark-color;
    font-size: 0.875em;
    margin: 0;
  }
}
