%splash-button {
  display: inline-block;
  border: 1px solid white;
  width: 100px;
  padding: 1em;
  margin: 1em;
  border-radius: 2px;
}

.splash {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 40%;
  transform: translateY(25%);

  &-title {
    font-size: 6.5em;
    margin-top: 0;
    margin-bottom: .25em;
  }

  &-button {
    @extend %splash-button;

    &--PRIMARY {
      @extend %splash-button;
      background-color: $white;
      color: $glacier;
    }
  }

  img {
    max-width: 400px;
  }
}
