%splash-button {
  display: inline-block;
  border: 1px solid $base-text-color;
  width: 100px;
  padding: .5em 1em;
  margin: 1em;
  border-radius: 2px;
  text-align: center;
  &:hover {
    background-color: $base-dark-color;
    border: 1px solid $base-dark-color;
    color: $white;
  }
}

.splash {
  width: 100%;
  text-align: center;
  margin-top: 2em;

  &-title {
    font-size: 6.5em;
    margin-top: 0;
    margin-bottom: .25em;
  }

  &-button {
    @extend %splash-button;

    &--PRIMARY {
      @extend %splash-button;
      background-color: $base-text-color;
      color: $white;
    }

    &--LEFT {
      @extend %splash-button;
      color: $base-text-color;
      margin-left: 0;
    }    

    &--DELETE {
      background: $base-dark-color;
      color: $white;
      border: 1px solid $base-dark-color;
      border-radius: 2px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  img {
    width: 400px;
  }
}
