.splash {
  width: 100%;
  text-align: center;
  margin-top: 2em;

  &-title {
    font-size: 6.5em;
    margin-top: 0;
    margin-bottom: .25em;
    font-family: 'Oxygen', sans-serif;
  }

  img {
    width: 325px;
  }
}
