<h2 class="base-subtitle">Need to edit this project?</h2>

<div class="project-form">
  <div class="project-form--INPUTS">
    <label for="name" class="project-label">Please edit the project name</label>
      {{input
        type="text"
        placeholder="Project Name"
        value=model.name
        class="project-name-input"
      }}

    <label for="name" class="project-label">Please edit the description</label>
      {{textarea
        type="text"
        placeholder="Project Description"
        value=model.description
        class="project-description-input"
        rows="5"
      }}
    </div>

    {{#link-to 'projects'}}
      <div class="button--PRIMARY" {{ action 'editProject' model.id }}>Update</div>
    {{/link-to}}

    {{#link-to 'projects'}}
      <div class="button">Cancel</div>
    {{/link-to}}
</div>