<h2>Add a new project!</h2>

<div class="project-form">
  {{input
    type="text"
    placeholder="Project Name"
    value=name
    class="project-name-input"
  }}
  {{textarea
    type="text"
    placeholder="Project Description"
    value=description
    class="project-description-input"
  }}
  
  {{#link-to 'projects'}}
    <div class="splash-button" {{ action 'addProject' }}>Add Project</div>
  {{/link-to}}
</div>