<h2 class="base-subtitle">Add a new project!</h2>

<form class="project-form" {{action 'addProject' on="submit"}}>
  <div class="project-form--INPUTS">
    <label for="name" class="project-label">Please enter a project name *</label>
    {{input
      type="text"
      placeholder="Project Name"
      value=name
      class="project-name-input"
      required="required"
    }}

    <label for="name" class="project-label">Please enter description *</label>
    {{textarea
      type="text"
      placeholder="Project Description"
      value=description
      class="project-description-input"
      required="required"
    }}
  </div>

  <button class="button--PRIMARY">Add Project</button>

  {{#link-to 'projects'}}
    <div class="button">
      {{!-- <span class="button-icon"><img src="assets/images/skydea-icon-delete.svg"></span> --}}
      Cancel</div>
  {{/link-to}}
</form>