<h2 class="base-subtitle">About Skydea</h2>

<h3 class="base--h3">The Problem</h3>
<p>Has there ever been a time when you had a brilliant idea, but didn't have the proper place to jot your ideas down?</p>

<p>Of course there has - happens all the time! In fact, <em>how many ideas die</em> because they never made it to the drawing board?</p>

<p>A bunch!</p>

<h3 class="base--h3">The Solution</h3>

<p>This is a super simple project app called Skydea. It allows you to put your project ideas in the sky.</p>
<p>Never let a project idea slip away again... ever.</p>
