<section>
  <div class="container">
    <div class="splash">
      <img class="splash-logo" src="assets/images/cloud-logo.png" alt="cloud image">
      <h1 class="splash-title">SKYDEA</h1>

      <p>Put your ideas up in the air!</p>

        {{#link-to 'projects'}}
          <div class="button--PRIMARY">View Projects</div>
        {{/link-to}}

        {{#link-to 'projects.new'}}
          <div class="button">Add Project</div>
        {{/link-to}}
    </div>
  </div>
</section>