<section>
  <div class="container">
    <div class="splash">
      <img src="assets/images/cloud-sketch.png" alt="cloud image">
      <h1 class="splash-title">SKYDEA</h1>
        {{#link-to 'projects'}}
          <div class="splash-button--PRIMARY">View Projects</div>
        {{/link-to}}

        {{#link-to 'projects.new'}}
          <div class="splash-button">Add Project</div>
        {{/link-to}}
    </div>
  </div>
</section>